<!doctype html>
<html lang="{{ metadata.language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="icon" href="/logos/JessicaAkermanSquare.svg" type="image/svg+xml">

  {#— Add the contents of CSS files to the bundle —#}
  <style>{% include "css/index.css" %}</style>
  {#— Render the CSS bundle using inlined CSS —#}
  <style>{% getBundle "css" %}</style>
</head>
<body>
  <a href="#skip" class="visually-hidden">Skip to main content</a>

  <header>
    <a href="/" class="logo">
      <img src="/logos/JessicaAkermanRectangle.svg" alt="{{ metadata.title }}" width="800" height="133">
    </a>

    <nav>
      <h2 class="visually-hidden">Navigation menu</h2>
      <ul class="nav">
  {%- for item in collections.all | eleventyNavigation -%}
    <li class="nav-item">
      <a href="{{ item.url }}" {% if page.url==item.url %}aria-current="page"{% endif %}>
        {{ item.data.eleventyNavigation.key }}
      </a>

      {%- if item.children and item.children | length -%}
        <ul class="subnav">
          {%- for child in item.children -%}
            <li class="nav-item">
              <a href="{{ child.url }}"
                 {% if page.url==child.url %}aria-current="page"{% endif %}>
                {{ child.data.eleventyNavigation.key }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>

    </nav>
  </header>

  <main id="skip">
    {{ content | safe }}
  </main>

  <footer>
    <div class="footer-content">
      <img src="/logos/JessicaAkermanSquare.svg"
           alt="Jessica Akerman logo"
           width="60" height="60"
           class="footer-logo">
      <p>&copy; {{ "now" | date("yyyy") }} {{ metadata.author.name }} | All rights reserved</p>
    </div>
  </footer>

  <script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>
