---
layout: layouts/base.njk
title: Tags
eleventyNavigation:
  key: Tags
  order: 4
permalink: /tags/
---
<h1>All Tags</h1>

{% set tags = collections | getKeys %}
{% set tagItems = collections.tagList %}

<ul class="tags-list">
{% for tag in tagItems | sortAlphabetically %}
  <li><a href="/tags/{{ tag | slugify }}/" class="tag-link">{{ tag }}</a></li>
{% endfor %}
</ul>